<div id="loginRegisterContainer" class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <!-- Login/Register Tabs -->
      <ngb-tabset type="pills">
        <ngb-tab>
          <ngb-template ngbTabTitle>LOGIN</ngb-template>
          <ngb-template ngbTabContent>

          </ngb-template>
        </ngb-tab>
        <ngb-tab>
          <ngb-template ngbTabTitle>REGISTER</ngb-template>
          <ngb-template ngbTabContent>

          </ngb-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
